events {}

http {
  server {
    listen 80;
    server_name ${SERVER_NAME};
    

    location /api/ {
      proxy_pass http://sns-server:${SERVER_PORT}/;
    }

    location / {
      root /app/client;
      index index.html index.html;
      autoindex off;
    }
  }
}